<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Person List</title>

	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

</head>

<body>

	<table id="enemyTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>HP</th>
				<th>攻撃力</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="enemy : ${enemys}">
				<td th:text="${enemy.id}"></td>
				<td th:text="${enemy.name}"></td>
				<td th:text="${enemy.attack}" class="test"></td>
			</tr>
		</tbody>
	</table>
	<button id="sendButton">Send Data to Java</button>






	<!--	<h1 th:text="'なまえ' + ${Name} +'です'"></h1>-->
	<!--	<h1 th:text="'体力' + ${Hp} +'です'"></h1>-->
	<!--	<h1 th:text="'攻撃力' + ${Attack} +'です'"></h1>-->
	<script src="/js/reactTest.js"></script>
</body>

</html>